*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.main{

}


.main header{
    
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(images/sea\ view.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;


    
}

ul{
    list-style: none;
    float: right;
    margin-top: 25px;
}

ul li{
    display: inline-block;
    color: aliceblue;
    align-items: center;
    justify-content: space-between;
    
    

}

ul li a{
    text-decoration: none;
    color: aliceblue;
    padding: 20px;
    transition: 0.5s ease;
    
    
   
}

ul li a:hover{
    background-color: #fff;
    color: black;
}

.logo img{
    float: left;
    width: 150px;
    
}

ul li.active a{
    background-color: #fff;
    color: black;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    font-size: 70px;
    color: #fff;
}

.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    text-decoration: none;
    padding: 10px 30px;
    color: #fff;
    transition: 0.5s ease;
}

.btn:hover{
    background-color: #fff;
    color: black;
}

